extends layout

mixin createItemPanel(item)
    a(href=`/item/${item._id}`)
        .grid-panel 
        h2 #{item.name}

block content
  header
    h1= category.name
  main
    .grid-container
      each item in items
        +createItemPanel(item) 
    a(href='/')
        button Return to Categories Page
  footer