extends layout

mixin createCategoryPanel(category)
  a(href=`/category/${category._id}`)
    .grid-panel 
      h2 #{category.name}
      p.category-description #{category.description}


block content
  header
    h1 Seed Inventory
  main
    .grid-container
      each category in categoryList
        +createCategoryPanel(category)
    
    a(href='/add-category-form')
      button.add-category-form-button Add a new category

  footer
